*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html,body{
    width: 100%;
    height: 100%;
}
.header{
    width: 100%;
    height: 100%;
    position: relative;
}
.content{
    width: 100%;
    height: 100%;
    position: absolute;
}
.content h1{
    font-size: 3.2vw;
    text-align: center;
    padding-top: 4vw;
}
.content h1 span{
    color: orange;
    font-size: 4.2vw;
}
.content h3{
    font-size: 2vw;
    padding-top: 1.5vw;
    padding-left: 7vw;
}
.content h3 span{
    color: orange;
    font-size: 3.2vw;
}
.content li{
    list-style: none;
    font-size: 1.5vw;
    padding-left: 12vw;
    padding-top: 1vw;
}